---
import Layout from '../layouts/Layout.astro'

import '@styles/main.css';

import { Image } from 'astro:assets';
import factory1 from '@assets/factory-1.jpg';
import carbonPopulation from '@assets/carbon-population-graph.jpg';
import nuclearFission from '@assets/nuclear-fission-1.jpg';
import nuclearFusionReactor from "@assets/nuclear-fusion-reactor-1.jpg"

import '@fontsource/inter/variable.css'
---

<Layout title="PSA">
    <main>
        <h1 class="text-center"><span class="text-gradient">PSA</span> about Fossil Fuels</h1>
        <p>There is a problem with the world, we are releasing too much carbon into the air.</p>
        <Image src={factory1} alt="Factory emitting fumes" loading="eager" />
        <p>This is a factory releasing carbon into the atmosphere because it is burning fossil fuels.</p>
        <p>You might be wondering why this is a problem, well, the more carbon that is in the air, the hotter the earth gets.</p>
        <p>And the hotter the earth gets, the more ice melts, and the more ice melts, the higher the sea level gets.</p>
        <p>And as the sea level rises, so does the chance of flooding.</p>
        <p>So, why are we releasing so much carbon? As the population of humans grows, so does the burning of fossil fuels</p>
        <Image src={carbonPopulation} alt="Graph showing the correlation between carbon emissions and population" />
        <p>This is a graph showing the correlation between carbon emissions and population. As the number of people grow, so does the amount of carbon in the atmosphere.</p>
        <p>Now there is a solution. Nuclear Power. Now we already have nuclear power, in the form of nuclear fission</p>
        <Image src={nuclearFission} alt="Nuclear fission power plant" class="m-auto block w-50%" />
        <p>Nuclear fission is where we're splitting atoms apart to create energy. But there is a problem with this. It requires nuclear materials and creates nuclear waste.</p>
        <p>Nuclear waste is not easy to dispose of, and we can't exactly just leave it lying around.</p>
        <p>So, how is nuclear power a good idea? Well, there is another form of nuclear power, nuclear fusion.</p>
        <Image src={nuclearFusionReactor} alt="Nuclear fusion reactor" />
        <p>Nuclear Fusion is different from nuclear fission because instead of splitting atoms, we're fusing them together.</p>
        <p>This is the same process the sun does, which is why it emits so much energy.</p>
        <p>With nuclear fusion, we can turn basically anything into power, including fossil fuels.</p>
        <p>And nuclear fusion has no negative byproducts, so no carbon emissions or nuclear waste!</p>
        <p>So why haven't we done it yet? Well, because in order to start the reaction, we need to heat up the atoms a lot. Over 50 million kelvin, which is incredibly hot.</p>
        <p>We have been getting closer and closer, and recently, we made more energy than was put in. This is good, but we need to make it sustainable and to actually develop it.</p>
        <p>In a few years, maybe your house will run on nuclear fusion, but theres no way of knowing quite yet.</p>

        <h2>Sources</h2>
        <p>Images come from flickr, pxfuel, wikimedia, along with one other site I can't find.</p>
        <p>Knowledge of Nuclear Fusion and Nuclear Fission comes from personal, unrecorded research</p>
        <p>Some other sources are the following</p>
        <!-- Create a bullet point list -->
        <ul class="list-disc list-inside">
            <li><a href="https://www.epa.gov/nutrientpollution/sources-and-solutions-fossil-fuels" class="text-blue-800 underline hover:text-yellow-500" target="_blank">Sources and solutions for fossil fuels</a></li>
            <li><a href="https://www.brookings.edu/essay/why-are-fossil-fuels-so-hard-to-quit/" class="text-blue-800 underline hover:text-yellow-500" target="_blank">Why are fossil fuels so hard to quit?</a></li>
        </ul>
    </main>
</Layout>