---
import Layout from '../layouts/Layout.astro'

import '../styles/main.css';

import { Image } from 'astro:assets';
import factory1 from '@assets/factory-1.jpg';
import carbonPopulation from '@assets/carbon-population-graph.jpg';
import nuclearFission from '@assets/nuclear-fission-1.jpg';

import '@fontsource/inter/variable.css'
---

<Layout title="Home">
    <main>
        <h1 class="text-center text-gradient">PSA</h1>
        <p>There is a problem with the world, we are releasing too much carbon into the air.</p>
        <Image src={factory1} alt="Factory emitting fumes" />
        <p>This is a factory releasing carbon into the atmosphere because it is burning fossil fuels.</p>
        <p>You might be wondering why this is a problem, well, the more carbon that is in the air, the hotter the earth gets.</p>
        <p>And the hotter the earth gets, the more ice melts, and the more ice melts, the higher the sea level gets.</p>
        <p>And as the sea level rises, so does the chance of flooding.</p>
        <p>So, why are we releasing so much carbon? As the population of humans grows, so does the burning of fossil fuels</p>
        <Image src={carbonPopulation} alt="Graph showing the correlation between carbon emissions and population" />
        <p>This is a graph showing the correlation between carbon emissions and population. As the number of people grow, so does the amount of carbon in the atmosphere.</p>
        <p>Now there is a solution. Nuclear Power. Now we already have nuclear power, in the form of nuclear fission</p>
        <Image src={nuclearFission} alt="Nuclear fission power plant" />
        <p>Nuclear fission is where we're splitting atoms apart to create energy. But there is a problem with this. It requires nuclear materials and creates nuclear waste.</p>
        <p>Nuclear waste is not easy to dispose of, and we can't exactly just leave it lying around.</p>
        <p>So, how is nuclear power a good idea? Well, there is another form of nuclear power, nuclear fusion.</p>
        <!-- Add Nuclear Fusion Reactor picture here -->
        <p>Nuclear Fusion is different from nuclear fission because instead of splitting atoms, we're fusing them together.</p>
        <p>This is the same process the sun does, which is why it emits so much energy.</p>
        <p>With nuclear fusion, we can turn basically anything into power, including fossil fuels.</p>
        <p>And nuclear fusion has no negative byproducts, so no carbon emissions or nuclear waste!</p>
        <p>So why haven't we done it yet? Well, because in order to start the reaction, we need to heat up the atoms a lot.</p>
    </main>
</Layout>